.sw[a-z]
.*.sw[a-z]
*.o
nethack-3.0.10/Makefile
nethack-3.0.10/auxil/Guidebook
nethack-3.0.10/auxil/Makefile
nethack-3.0.10/auxil/castle
nethack-3.0.10/auxil/data
nethack-3.0.10/auxil/endgame
nethack-3.0.10/auxil/rumors
nethack-3.0.10/auxil/spec_levs
nethack-3.0.10/auxil/tower1
nethack-3.0.10/auxil/tower2
nethack-3.0.10/auxil/tower3
nethack-3.0.10/include/date.h
nethack-3.0.10/include/lev_comp.h
nethack-3.0.10/include/onames.h
nethack-3.0.10/include/pm.h
nethack-3.0.10/src/Makefile
nethack-3.0.10/src/Sysunix
nethack-3.0.10/src/lev_comp
nethack-3.0.10/src/lev_comp.c
nethack-3.0.10/src/lev_lex.c
nethack-3.0.10/src/makedefs
nethack-3.0.10/src/nethack30
